*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #caffbf;
    text-align: center;

}
h1{
    color: #006d77;
    font-style: italic;
    padding: 2px;
    margin: 5px;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: .5rem;
    border: 1px solid black;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    font-size: 8vmin;
    background-color: #bdb2ff;
    color: black;
}

.box:hover{
    cursor:pointer;
}

#Reset-btn{
    padding: 1rem;
    font-size: medium;
    border-radius: 16px;
    background-color: #468189;
    border: 1px solid black;
}

#Reset-btn:hover,#new-btn:hover{
    cursor: pointer;
}

#new-btn{
    padding: 1rem;
    font-size: medium;
    border-radius: 16px;
    background-color: #468189;
    border: 1px solid black;
}

#msg{
    font-size: 5vmin;
    color: aliceblue;
}

.msg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hide{
    display: none;
}

.Draw-msg{
    font-size: 5vmin;
    color: aliceblue;
}