*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #94d78f;
}

.container{
    background-color: #7a92b3;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin: 2 rem 0 2rem 0;
}

form select,button,input{
    width: 100%;
    border: 1.5px solid black;
    outline: none;
    border-radius: .75rem;
}

form input{
    border: 1px solid lightblue;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.select-container img{
    min-width: 2rem;
}

.select-container{
    display: flex;
    width: 6rem;
    justify-content: center;
    background-color: #daf3ff;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightblue;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container select{
    font-size: 1rem;
    width: auto;

}

.msg{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background-color: #0067d2;
    font-size: 1rem;
    cursor: pointer;
}